body {
	background-color: #000;
	background-image: url("/img/3.png");
	background-repeat: repeat;
	max-width: 1000px;
	margin: auto;
}
a:link {
  color: #5209B9;
}
a:visited {
  color: #8F51E6;
}

h1, h2, h3 {
	color: #0856B3;
}

#header a, #footer a, #nav a {
  color: #FFF;
}
#footer {
  font-size: .9em;
}
#nav li {
  display: inline;
	padding-right: 10px;
}

.blurb {
	background-color: #FFF;
	border: 7px solid #0856B3;
	margin-bottom: 20px;
	-moz-border-radius:20px;
	padding: 20px;
}


/*
 http://colorschemedesigner.com/#3C42fK9.wk2D-
 Primary Color:
  0856B3		1D5597		04428C		5093E4		87B1E4
	Secondary Color A:
		5209B9		531E9C		3F0590		8F51E6		B089E6
		Secondary Color B:
			FFE700		D7C622		C7B400		FFEE52		FFF593
			Complementary Color:
				FF9C00		D79122		C77A00		FFBC52		FFD593i
*/
