html {
	background-color: #000;
	padding: 20px;
}

/* Specific Layouts */
#gmap, #pmap {
	height: 400px;
}

/* Layout and Spacing */
#hd {
	margin-bottom: 10px;
}
#hd a {
	margin-right: 20px;
}
#ft {
	text-align: center;
}
#ft ul {
	display: inline;
}
#ft li {
	display: inline;
	margin-right: 10px;
}

.blurb {
	border: .4em solid #0856B3;
	margin-bottom: 20px;
	padding: 15px;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
}

/* Forms */
label {
  display: block;
}
textarea {
	width: 100%;
}

/* Tables */
table {
  width: 100%;
}
td, th {
  padding: 5px 10px 5px 10px;
}
th {
  color: #FF9C00;
  font-weight: bold;
}
tr {
  background-color: #222;
}
tr.odd {
	background-color: #111;
}

/* Fonts */
#hd {
	font-size: 123.1%;
}
#ft {
	font-size: 100%;
}
body, #hd a, #ft a {
  color: #FFF;
}
h1, h2, h3 {
	color: #0856B3;
}

/*
 http://colorschemedesigner.com/#3C42fK9.wk2D-
 Primary Color:
  0856B3		1D5597		04428C		5093E4		87B1E4
	Secondary Color A:
		5209B9		531E9C		3F0590		8F51E6		B089E6
		Secondary Color B:
			FFE700		D7C622		C7B400		FFEE52		FFF593
			Complementary Color:
				FF9C00		D79122		C77A00		FFBC52		FFD593i
*/
