body {
    font-family: 'Ubuntu', sans-serif;
    padding-top: 60px; /* sit below fixed header */
}
form {
    margin: 0;
}
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
ul.pager li {
    margin-right: 5px;
}
ul.pager li > a {
    background: none;
    border: 2px solid #33B5E5;
}
ul.pager li > a:hover {
    background: none;
}
input.search-query {
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #282828;
    margin-right: 2px;
}

.nav li {
    display: inline;
    padding: 10px;
}

#maps {
    margin-left: 10px;
}

#particles {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -100;
}
#photos, #youtubes{
    text-align: center;
}

#photos img {
    max-width: 100%;
}

#youtubes, #youtubes-search {
    margin: 10px 0 0 10px;
}
#youtubes #player {
    max-width: 100%;
}
#youtubes-search #search-results {
    margin-top: 10px;
}
#youtubes-search #search-results div {
    position: relative;
}
#youtubes-search #search-results img {
    border: solid;
    height: 5em;
    margin-right: 10px;
    width: 8em;
}
