body {
    background: url("/img/clean_textile.png");
    padding-top: 60px; /* sit below fixed header */
}

#photos, #youtubes{
    text-align: center;
}

#youtubes-search #search-results {
    margin-top: 1em;
}
#youtubes-search #search-results div {
    position: relative;
}
#youtubes-search #search-results img {
    border: solid;
    height: 5em;
    margin: .5em 1em .5em 0;
    width: 8em;
}
#youtubes-search #search-results a {
    position: absolute;
    top: 1.5em;
}
#youtubes-search #search-results .views {
    color: #333;
    position: absolute;
    top: 3em;
}
